<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="editForm" (ngSubmit)="onFormSubmit()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label class="control-label" for="name">Name</label>
          <input type="text"
                 id="name"
                 name="name"
                 placeholder="Name"
                 class="form-control"
                 formControlName="name">
          <span class="help-block">Invalid name!</span>
        </div>
        <div class="col-sm-2 form-group">
          <label class="control-label" for="amount">Amount</label>
          <input type="number"
                 id="amount"
                 name="amount"
                 class="form-control"
                 formControlName="amount">
          <span class="help-block">Invalid amount!</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!editForm.valid">{{ editing ? 'Update' : 'Add' }}</button>
          <button class="btn btn-danger" type="button" *ngIf="editing" (click)="deleteSelected()">Delete</button>
          <button class="btn btn-primary" type="button" (click)="clearForm()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>